# editorconfig (http://editorconfig.org/)

# Tab indentation (no size specified)
[{Makefile,*.mk,*.md}]
indent_style = tab
trim_trailing_whitespace = false

# 4 space indentation
[*{.c,.h}]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true

# trims trailing whitespace for all files
[*]
insert_final_newline = true
end_of_line = lf
