# Object files
*.o
*.ko
*.obj
*.elf
build/

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Specific xc16 and MPLAB
*.cof
*.map
*.mcp
*.mcs
*.mcw
modules.h
log.*
*.xml.lck
*Log.xml

# doc generated
build-doc/